
.topnav {
  overflow: hidden;
  background-color: #333; /* Example background color */
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #4CAF50; /* Example active link background color */
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
