body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}


h1 {
    margin-top: 20px;
    color: #333;
}

#player-info {
    margin-top: 20px;
}

#player-name {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#game-board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust column width as needed */
    grid-gap: 2px; /* Adjust gap between cells as needed */
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #999;
    display: flex; /* Ensure cells are displayed as flex items within the grid */
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #f0f0f0;
}

#game-result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.om{
    display: flex;
    align-items: center;
    justify-content: center;
}